# Data directories
data/raw/
data/processed/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# VS Code settings
.vscode/

# Miscellaneous
*.log
*.tmp